<div *ngIf="(AfterOnlineCheckAuth | async) as onlineAndAuthReady; else onlineAndAuthNotReady">

        <mat-toolbar color="primary">
            <h1>
                StepsWise Tracking Tool
            </h1>
            <span fxFlex="grow"></span>
            <div fxHide.lt-sm>
                Welcome {{myuserProfile?.userAuthenObj.displayName}}!
            </div>
            <button mat-icon-button>
                <fa-icon (click)="componentLogOff()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
                </fa-icon>
            </button>
        </mat-toolbar>

        <div>
            <mat-grid-list cols="10" rowHeight="50vh">
                <mat-grid-tile colspan="2" rowspan="2" [style.background]="'cyan'">

                    <div *ngIf="(myprofilevalbef | async) as myprofilevalbefReady; else myprofilevalbefNotReady">

                        <div class="modal">
                            <div class="modal-container">

                                <div class="user-profile">

                                    <div class="profile">
                                        <img [src]="myuserProfile?.userAuthenObj.photoURL" />
                                        <p class="name">{{myuserProfile?.userAuthenObj.displayName }}</p>
                                        <p class="bio-1">MemberType:{{myprofilevalbefReady.MembershipType}}</p>
                                        <p class="bio-2">Current ProjectName: {{myprofilevalbefReady.projectName}}
                                        </p>
                                        <p class="bio-2">MemberStill: {{myprofilevalbefReady.MembershipEnd}}</p>
                                        <div
                                            *ngIf="(myprofileDetails | async) as myprofileDetailsReady; else myprofileDetailsNotReady">
                                            <mat-label>
                                                Profile Details:
                                            </mat-label>
                                            Profilename: {{myprofileDetailsReady?.profilenameControl}}
                                            Photourl:{{myprofileDetailsReady?.photourlControl}}
                                            Email: {{myprofileDetailsReady?.email_savedControl}}
                                            Gender:{{myprofileDetailsReady?.genderControl}}
                                            AreasOfInterest: {{myprofileDetailsReady?.areasOfInterestControl}}
                                            Skills: {{myprofileDetailsReady?.skillsControl}}
                                            <button mat-raised-button color="primary"
                                                (click)="UpdateUserProfileFlag()">Update</button>
                                        </div>

                                        <ng-template #myprofileDetailsNotReady>
                                            <mat-card class="list"
                                                *ngIf="myprojectFlags.newuserProfileDetails === false" fxLayout="column"
                                                fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
                                                <mat-card-content class="empty-label">
                                                    Do You want to Add User Profile?</mat-card-content>
                                                <mat-card-actions>
                                                    <button mat-raised-button color="primary"
                                                        (click)="CreateUserProfile()">Add
                                                        Profile</button>
                                                </mat-card-actions>
                                            </mat-card>

                                            <mat-card class="list" *ngIf="myprojectFlags.newuserProfileDetails === true"
                                                fxLayout="row wrap" fxLayout.lt-sm="column"
                                                fxLayoutAlign="space-around center">
                                                <mat-card-content class="empty-label">
                                                    <form [formGroup]="myprojectControls?.addProfileDetails"
                                                        fxLayout="row wrap" fxLayoutAlign="center center">
                                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                                            <mat-label>Update DisplayName</mat-label>
                                                            <input matInput placeholder="Sub-Heading"
                                                                formControlName="profilenameControl">
                                                        </mat-form-field>

                                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                                            <mat-label>Upadate Photo</mat-label>
                                                            <input matInput placeholder="Sub-Heading"
                                                                formControlName="photourlControl">
                                                        </mat-form-field>

                                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                                            <mat-label>Upadate Email</mat-label>
                                                            <input matInput placeholder="Sub-Heading"
                                                                formControlName="email_savedControl">
                                                        </mat-form-field>

                                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                                            <mat-label>Update gender</mat-label>
                                                            <input matInput placeholder="Sub-Heading"
                                                                formControlName="genderControl">
                                                        </mat-form-field>

                                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                                            <mat-label>Update areasOfInterest</mat-label>
                                                            <input matInput placeholder="Sub-Heading"
                                                                formControlName="areasOfInterestControl">
                                                        </mat-form-field>

                                                        <mat-form-field appearance="fill" floatLabel="Edit Sub-Heading">
                                                            <mat-label>Update skills</mat-label>
                                                            <input matInput placeholder="Sub-Heading"
                                                                formControlName="skillsControl">
                                                        </mat-form-field>
                                                    </form>
                                                </mat-card-content>
                                                <mat-card-actions>
                                                    <button mat-raised-button color="primary"
                                                        (click)="UpdateUserProfile()">Update</button>
                                                </mat-card-actions>
                                            </mat-card>

                                        </ng-template>
                                    </div>


                                </div>
                            </div>
                        </div>




                    </div>
                    <ng-template #myprofilevalbefNotReady>
                        <mat-card class="list" *ngIf="myprojectFlags.newuserProfileDetails === false" fxLayout="column"
                            fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
                            <mat-card-content class="empty-label">
                                Do You want to Create New User?</mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="CreateNewUser()">NewUser</button>
                            </mat-card-actions>
                        </mat-card>
                    </ng-template>

                </mat-grid-tile>


                <mat-grid-tile colspan="4" rowspan="2" [style.background]="'red'">

                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label class="header" color="white">Public</ng-template>
                            <ng-template matTabContent>
                                <app-publicprojects></app-publicprojects>
                            </ng-template>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label class="header" color="white">Private</ng-template>
                            <ng-template matTabContent>
                                <app-privateprojects [profileinfoUid]="myuserProfile?.userAuthenObj">
                                </app-privateprojects>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </mat-grid-tile>

                <mat-grid-tile colspan="4" rowspan="2" [style.background]="'blue'">
                    <mat-toolbar class="header" color="warn">
                        <div>Keys</div>
                        <span fxFlex="grow"></span>
                    </mat-toolbar>
                </mat-grid-tile>


            </mat-grid-list>



        </div>
    


</div>
<ng-template #onlineAndAuthNotReady>

    <div *ngIf="(myonline | async) as myonlineReady; else myonlineNotReady">
        <div *ngIf="(myauth | async) as authready; else authnotready">
            DATA
            {{AfterOnlineCheckAuth  | async}}
            WILL NOT BE EXECUTED
        </div>

            <ng-template #authnotready>
                <div *ngIf="(myauth | async) === undefined">
                    <div fxLayoutAlign="center center" style="height:100vh;">
                        Waiting for Authentication!<mat-spinner [diameter]="30" Style="margin-left:10px;"></mat-spinner>
                    </div>
                </div>
                <div *ngIf="(myauth | async) === null" >
                <mat-toolbar color="primary" >
                    <h1>
                        StepsWise Tracking Tool
                    </h1>
                    <span fxFlex="grow"></span>
                    <div fxHide.lt-sm>
                        Welcome 
                    </div>
                    <button type="button" class="login-with-google-btn"
                    (click)="developmentservice.login()">
                    Sign in with Google
                </button>
                </mat-toolbar>
                    <mat-grid-list cols="10" rowHeight="50vh">
    
                        <mat-grid-tile colspan="2" rowspan="2" [style.background]="'cyan'">
                            <mat-card class="example-card" fxFlex="20vw" fxFlex.lt-sm="40vw">
    
                                <div style="color:yellow; padding:0px;" fxLayout="row" fxLayoutGap="20%"
                                    fxLayoutAlign="space-between center">
                                    <div>
                                        <h1> Analayze all the Steps of a Task </h1>
                                        <h1> Record all the Steps for Easy Tracking </h1>
    
                                        <div fxLayout="column" fxLayoutGap="10%">
                                            <mat-chip-list>
                                                <mat-chip
                                                    style="font-size:1.5em; cursor:none; opacity:.6; background-color:yellow;color: red; padding:10px;height: 60px !important;">
                                                    Start Tasking!!</mat-chip>
                                            </mat-chip-list>
                                            <button type="button" class="login-with-google-btn"
                                                (click)="componentLogOn()">
                                                Sign in with Google
                                            </button>
                                        </div>
                                    </div>
                                </div>
    
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="4" rowspan="2" [style.background]="'red'">
                            
                                <mat-list role="list">
                                    <mat-list-item role="listitem">Item 1
                                        <app-publicprojects>
                                        </app-publicprojects>
                                    </mat-list-item>
                                </mat-list>
    
                           
                        </mat-grid-tile>
                        <mat-grid-tile colspan="4" rowspan="2" [style.background]="'blue'">
                        <mat-toolbar class="header" color="warn">
                            <div>Keys</div>
                            <span fxFlex="grow"></span>
                        </mat-toolbar>
                    </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </ng-template>


    </div>

    <ng-template #myonlineNotReady>
        <div *ngIf="(myonline | async)==false">
            <div fxLayoutAlign="center center" style="height:100vh;">
                Lost Internet Connection!
            </div>
        </div>
    </ng-template>
</ng-template>