<div fxLayout="row">
  

        <cdk-virtual-scroll-viewport itemSize="100" class="scroll-viewport">
            <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel *ngFor="let public of publicProjectData  | async" >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{public}}
                            </mat-panel-title>

                            <mat-panel-description>

                                Display Name
                                <mat-icon>account_circle</mat-icon>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div>
                            Description
                            <button>
                                See Details
                            </button>
                        </div>
                        <mat-divider style="color:red"></mat-divider>

                    </mat-expansion-panel>
            </mat-accordion>

        </cdk-virtual-scroll-viewport>


</div>