<div fxLayout="column">
    <mat-toolbar class="header" color="warn">
        <div>Public Projects</div>
        <span fxFlex="grow"></span>
    </mat-toolbar>
    <cdk-virtual-scroll-viewport itemSize="100" class="scroll-viewport">

            <mat-card cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

                <div class="drag-box" class="scroll-item" *ngFor="let public of publicList | async" cdkDrag>



                    {{public}}



                    <mat-divider></mat-divider>

                </div>
            </mat-card>


    </cdk-virtual-scroll-viewport>
</div>